*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

body {

	background: url("../images/map5.jpg");
}


p {
	color: black;
}

.about_me {
	text-align: center;
	font-weight: bold;
	font-family:  'Permanent Marker', cursive;

}

.container {
	margin: 0 auto 0 auto;
	width: 1000px;
	height: 2000px;
}
.Lebanon {
	width: 450px;
	height:600px;
	float: left;
	border-style: solid;
	border-color: white;
	padding: 25px;

}

.Turkey {
	width: 450px;
	height:600px;
	float: right;
	border-style: solid;
	border-color: white;
	padding: 25px;
	
	margin-bottom: 20px;
}

.SriLanka {
	width: 450px;
	height: 400px;
	float: left;
	border-style: solid;
	border-color: white;
	padding: 25px;
	margin-right: 100px;
	margin-top: 20px;
}

a {
	color: #49494b;
}



.Beirut {
  padding-top: 10px 30px 10px 30px;
  background: #e74c3c;
  color: white;
  text-decoration: none;
text-decoration: none;
  transition: all 1s;
}

.Beirut:hover {
	background: #e74c3c;
	border-radius: 35px;
	transition: all 1s
}

.swagButton {
	color: #31A6FF;
	font-family: "proxima nova";
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	border: solid 2px #31A6FF;
	border-radius: 50px;
	padding: 10px 80px;
	transition-duration: 200ms;

}

.swagButton:hover {
	background-color: #31A6FF;
	color: #fff;
}





body > div :nth-of-type(3) > a {
	text-decoration: inherit;
}

.ghost {
	font-family: "calibri";
	color: pink;
	border:1px solid #39FF14;
	display: inline-block;
	width: 200px;
	padding: 8px;
	margin:10px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
	transition: color 0.3s ease-out, background-color 0.3s ease-out;
}
.ghost:hover, .ghost:focus {
	border-color: #39FF14;
	-webkit-transition: color 0.3s ease-out, background-color 0.3s ease-in;
	transition: color 0.3s ease-out, background-color 0.3s ease-in; 
	position: absolute;
    top: 50px;
    right: 0px;
    float: right;
}

.sidebar {
	width: 450px;
	height:400px;
	float: left;
	border-style: solid;
	border-color: white;
	padding: 25px;
	margin-right: 
	margin-top:  
.clip {
	position: center;
	margin-right: 80px;
	margin-left: 60px;

}

